
/*#region Generic HTML styles */
body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.72222;
    color: rgba(255, 255, 255, .95);
    background-color: #252525;
}

p {
    font-weight: 300;
}
/* Make sure cursor is a pointer for links */
a {
    cursor: pointer;
    text-decoration: none;
}

select {
    border: 2px solid #efefef;
    background-color: #ffffff;
    display: inline-block;
    min-height: 40px;
    padding: 4px 6px;
    margin: 0px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}
/*#endregion Generic HTML styles */
/*#region Boostrap Edits */

/*#region Bootstrap - Navbar */
.navbar-inverse {
    background-color: #333333;
}

    .navbar-inverse .navbar-collapse {
        border: 1px solid #000;
    }

    .navbar-inverse .navbar-nav > .dropdown > a .caret {
        border-top-color: #4c4c4c;
        border-bottom-color: #4c4c4c;
    }

    .navbar-inverse .navbar-form .form-control {
        color: #000000 !important;
        border-color: #111111;
        background-color: #fff;
        width: 100%;
    }

        .navbar-inverse .navbar-form .form-control:hover {
            color: #000000 !important;
        }

    .navbar-inverse .navbar-form .input-group-btn .btn {
        border-color: none;
        background-color: #fff;
        color: #c8c8c8;
    }

.navbar {
    border-radius: 0;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
}

.navbar-nav {
    float: right;
}

    .navbar-nav li a {
        font-weight: 400;
    }

@media (max-width: 1200px) {
    .navbar-nav > li > a {
        padding: 15px 11px;
    }
}

@media (max-width: 991px) {
    .navbar-nav > li > a {
        padding: 15px 5px;
    }

    .navbar-nav + .navbar-form.navbar-left {
        width: 20%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        padding: 15px 20px;
        height: auto;
    }

    .navbar-nav + .navbar-form.navbar-left {
        width: auto;
        padding: 15px 20px;
        height: auto;
    }

    .user {
        margin-left: 0;
    }

    .navbar-inverse .navbar-nav > .open > .dropdown-arrow {
        display: none;
    }
}
/*#endregion Bootstrap - Navbar */
/* #region Bootstrap - Tabbed Content */
.nav-tabs {
    margin-bottom: 0px;
}

.tab-content {
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
/*#endregion Bootstrap - Tabbed Content */
/*#region Bootstrap - Tables */
.table-bordered > thead > tr th, .table-bordered > tbody > tr th,
.table-bordered > tfoot > tr th, .table-bordered > thead > tr td,
.table-bordered > tbody > tr td, .table-bordered > tfoot > tr td {
    background: #1c1c1c;
    border: 1px solid #111111 !important;
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: middle;
    line-height: 24px;
}
/*#endregion Bootstrap - Tables */
/* #region Bootstrap - Buttons */
.btn {
    color: #EFEFEF;
}

    .btn.btn-danger {
        background-color: #e74c3c;
    }

    .btn.btn-success {
        background-color: #76BE59;
    }

.btn-default:hover,
.btn-default.hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #f38e34;
    border-color: #f38e34;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background: #D35400;
    border-color: #D35400;
}
/* #endregion Bootstrap - Buttons */
/*#region Bootstrap - Labels*/
.label-important {
    background-color: #e74c3c;
}

.label-success {
    background-color: #76BE59;
}

/*#endregion*/
/*#region Bootstrap - Wells */

.well {
    color: #444;
}

.well-no-color {
    padding: 25px;
}

/*#endregion */

/*#endregion Boostrap Edits */
/*#region FlatUI - Switch */
.checkbox .icons, .radio .icons {
    color: #494949;
}

.has-switch {
    border-radius: 15px;
}

    .has-switch label {
        border: 4px solid #1a1a1a;
        border-radius: 50%;
        float: left;
        height: 29px;
        margin: 0 -15px;
        padding: 0;
        position: relative;
        vertical-align: middle;
        width: 29px;
        z-index: 100;
        -webkit-transition: 0.25s ease-out;
        transition: 0.25s ease-out;
    }

    .has-switch > div.switch-on label {
        background-color: #e67e22;
    }

    .has-switch > div.switch-off label {
        background-color: #323232;
        border-color: #1a1a1a;
        color: #515151;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .has-switch span.switch-left {
        border-radius: 30px 0 0 30px;
        background-color: #1a1a1a;
        color: #e67e22;
        /* border-left: 1px solid transparent; */
    }

    .has-switch span.switch-right {
        border-radius: 0 30px 30px 0;
        background-color: #1a1a1a;
        color: #ffffff;
        text-indent: 7px;
    }

/*#endregion */
/*#region Stockafe - Navbar */
.authortype {
    background-color: rgba(0, 0, 0, .1);
    padding: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.user {
    background-color: #242424;
    margin-left: 15px;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}

.pdng {
    padding-right: 8px;
}
/* Padding for the logo */
.navbar-lg .navbar-brand {
    padding-top: 20px;
}
/*#endregion Stockafe - Navbar  */
/* #region Stockafe - Footer */
.bottom-links {
    float: left;
}

.copyright {
    float: right;
}

    .copyright small {
        font-size: 14px;
    }

.bottom-menu .bottom-links {
    line-height: 2.286;
}
/* #endregion */
/* #region Utility - "Client Message" */
#client-message {
    display: none;
    position: fixed;
    min-width: 300px;
    text-align: center;
    margin-top: 80px;
    border: 4px solid #343334;
    -webkit-border-radius: 108px;
    -moz-border-radius: 108px;
    border-radius: 108px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
    padding: 15px 30px 15px 40px;
    left: 15px;
    z-index: 1055;
}

    #client-message:before, #client-message:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
    }

    #client-message:before, #client-message:after {
        left: -10px;
        top: -15px;
        width: 40px;
        height: 40px;
        background-color: #efefef;
        border: 4px solid #343334;
        -webkit-border-radius: 28px;
        -moz-border-radius: 28px;
        border-radius: 28px;
    }

    #client-message:after {
        width: 20px;
        height: 20px;
        left: -5px;
        top: -35px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
    }

#button_close_clientMessage {
    margin-left: 25px;
}

#client-message-message {
    max-width: 350px;
    text-align: left;
}
/* #endregion Utility - "Client Message" */
/* #region Utility - Loading Panel */
#main-load {
    display: none;
}

#main-load-wrapper {
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: 25px;
    margin-left: -15px;
}
/* #endregion Utility - Loading Panel */
/* #region jQuery UI - DatePicker */
.ui-datepicker {
    border: 2px solid #e67e22;
    padding: 0px 5px;
    z-index: 3 !important;
}

    .ui-datepicker .ui-datepicker-next {
        border: 0px none;
    }

    .ui-datepicker .ui-datepicker-prev {
        border: 0px none;
    }

    .ui-datepicker .ui-datepicker-header {
        background-color: #FABB59;
        border: 2px solid #e67e22;
    }

    .ui-datepicker .ui-state-active {
        background-color: #FABB59;
    }

    .ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover {
        background-color: #e67e22;
    }

    .ui-datepicker th {
        color: #444;
    }
/* #endregion jQuery UI - DatePicker */
/*#region jQuery UI - Slider */
.ui-slider, .ui-slider-segment {
    background: #1f1f1f;
    margin-top: 10px;
    margin-bottom: 24px;
    margin-left: 10px;
    margin-right: 3px;
}
/*#endregion jQuery UI - Slider */
/*#region Select2 */
.select2-container .select2-choice {
    display: block;
    padding: 0 20px;
    overflow: hidden;
    position: relative;
    border: none;
    white-space: nowrap;
    line-height: 44px;
    height: 44px;
    color: #fff;
    font-size: 14px;
    font-family: 'lato' sans-serif;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #505050;
    background-image: none;
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(top, #ffffff 0%, #eeeeee 50%);
}

    .select2-container .select2-choice .select2-arrow {
        display: inline-block;
        width: 18px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border-left: none;
        content: "\e000";
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        background: transparent;
        filter: none;
        padding: 0 35px 0 10px;
    }

.select2-dropdown-open .select2-choice {
    height: 44px;
    border-bottom-color: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #3b3b3b !important;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    background-image: none;
}

.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    z-index: 10000;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 9px;
}

    .select2-search input {
        font-size: 14px !important;
        font-weight: 300;
        width: 100%;
        height: auto !important;
        min-height: 35px;
        padding: 4px 20px 4px 5px;
        margin: 0;
        outline: 0;
        font-family: sans-serif;
        font-size: 1em;
        border: none;
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color: #fff;
        background: #212121 url('/assets/img/white-zoom.png') no-repeat 98% 8px;
    }

.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('/assets/img/white-caret.png') no-repeat 50% 12px;
    min-width: 40px;
}

.select2-drop {
    width: 100%;
    margin-top: 9px;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background: #fff;
    color: #fff;
    background: #3b3b3b;
    border: none;
    border-top: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0 10px;
}

.select2-results .select2-highlighted {
    background: #e67e22;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.select2-results small {
    color: #f7f7f7;
}

.select2-results .select2-no-results, .select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #2f2f2f;
    font-size: 14px;
    display: list-item;
    padding: 5px;
    border-radius: 5px;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: none;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border: none;
    border-top-color: transparent;
    background: #3b3b3b !important;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    background-image: none;
    border-radius: 5px;
}

.select2-drop.select2-drop-above {
    margin-top: -14px;
    border-top: none;
    border-bottom: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: bold;
    font-family: 'lato' sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
    padding-right: 10px;
    font-size: 16px;
}

.select2-results ul.select2-result-sub > li .select2-result-label {
    padding: 0 10px;
    min-height: 10px !important;
    font-weight: 300;
}

.select2-container .select2-choice .select2-arrow .caret {
    border-width: 8px 6px;
    border-bottom-color: #fff;
    border-top-color: #fff;
    border-style: solid;
    border-bottom-style: none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    -webkit-transform: scale(1.001);
    -ms-transform: scale(1.001);
    transform: scale(1.001);
}

.select2-dropdown-open .select2-choice .select2-arrow .caret {
    background-position: -18px 1px;
    background: rgba(59, 59, 59, 1);
}

.select2-chosen {
    color: #EFEFEF;
}

/* Style the scrollbars for Select2 search results */
.select2-results::-webkit-scrollbar {
    width: 12px;
}

.select2-results::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.select2-results::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: #808080;
}

/*#endregion */
/*#region Impekable Edits */

/*--------------- Everything About Buttons ------------------*/
.dltbtn {
    float: right;
}
/*-- Grey Button --*/
.nrmlbtn {
    background: #363636;
    margin-right: 10px;
}
/*-- For Full Width Button --*/
.fullWdthBtn {
    width: 100%;
}
/*-- Transparency Button --*/
.transparencyBtn {
    float: right;
    background-color: transparent;
    font-size: 17px;
    font-weight: 300;
    margin-top: 8px;
    border: 1px solid #fff;
}
/*-- Orange Button --*/
.orngBtn {
    background: #e67e22;
    display: block;
    margin: 0 auto;
    font-weight: bolder;
    font-family: 'lato' sans-serif;
    text-align: center;
    width: 100%;
}

.btns {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 50px;
}

    .btns button {
        margin-left: 10px;
    }

/*-----------------------------------------------------------*/

/*#endregion */
/*#region Garrett's Bootstrap 3 Edits */
/* Padding for the content wrapper */
#page-content {
    margin-top: 75px; /* Height of the static nav */
    padding-bottom: 52px; /* Height of the static footer */
}
/* "required" asterisk style */
.req {
    color: red;
    font-size: 9px;
    position: absolute;
    margin-left: 5px;
}
/* Meant for descriptive text below a form input */
.description {
    font-size: small;
    display: block;
    font-style: italic;
}
/* #region Pulse Animation */
.pulsate {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1.25s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1.0);
        opacity: 0.75;
    }

    50% {
        -webkit-transform: scale(1.2);
        opacity: 1.0;
    }

    to {
        -webkit-transform: scale(1.0);
        opacity: 0.75;
    }
}
/* #endregion Pulse Animation */
/*#region Garrett - "No" Classes */

.no-border {
    border: 0px none;
    border-radius: 0px;
}

.no-margin {
    margin: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.no-padding {
    padding: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.no-background {
    background: none;
}
/* (Un)Ordered lists with no margin, padding, or style. */
.no-list, .no-list li, .tag-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    /* Give a little spacing for each list item */
    .no-list li {
        padding-bottom: 10px;
    }

/*#endregion Garrett - "No" Classes */
/*#endregion Garrett's Bootstrap 3 Edits */
body {
    font-family: "Lato";
    background-color: #252525;
    color: #EDEDED;
}

.title {
    background-color: #000;
}

hr {
    border-top: 2px solid #000;
}

/* if form is not inline and without lable we need this fix  */
.form-without-lable .has-feedback .form-control-feedback {
    top: 0px;
}

.form-without-lable .input-group-lg .form-control-feedback {
    top: 6px;
}
/* fix complete */

.btn-padding {
    margin-bottom: 10px;
}

.alert {
    background-color: #161616;
    border-radius: 5px;
    border: none;
    color: #fefefe;
    padding: 14px 45px 14px 22px;
}

    .alert p .btn {
        width: 30%;
        font-size: 15px;
        display: inline;
    }

    .alert > .fa {
        padding-right: 5px;
    }

.alert-danger {
    background-color: #e74c3c;
    border: none;
    color: #fff;
}

.alert-success {
    background-color: #2ecc71;
    border: none;
    color: #fff;
}

.alert-info {
    background-color: #3498db;
    border: none;
    color: #fff;
}

.alert-warning {
    background-color: #e17a20;
    border: none;
    color: #fff;
}

.alert .close {
    color: #5b5b5b;
    font-size: 14px;
    opacity: 1;
    text-shadow: 0 1px 0 #5b5b5b;
}

.alert-danger .close {
    color: #fff;
    opacity: 1;
    text-shadow: none;
}

.alert-info .close {
    color: #fff;
    opacity: 1;
    text-shadow: none;
}

.alert-warning .close {
    color: #fff;
    opacity: 1;
    text-shadow: none;
}

.alert-success .close {
    color: #fff;
    opacity: 1;
    text-shadow: none;
}

.alert p {
    color: #fefefe;
}

.pagination > li > a {
    background-color: #505050;
    border: none;
    color: #adadad;
    margin-left: 2px;
    font-size: 14px;
}

    .pagination > li > a:hover {
        color: #fff;
        background-color: #e67e22;
    }

    .pagination > li > a:focus {
        color: #fff;
        background-color: #e67e22;
    }

.nav-tabs > li.active > a {
    background-color: #3b3b3b;
    border: none;
    color: #fff;
}

.nav-tabs {
    border: none;
    margin-bottom: -2px;
}


.nav-tabs > li > a {
margin-right: 2px;
line-height: 1.428571429;
border: none;
border-radius: 4px 4px 0 0;
}


.tab-content {
    border: none;
    padding: 0px;
    margin-bottom: 0px;
}

.tab-pane {
    background-color: #3b3b3b;
    padding: 15px;
}

.nav-tabs > li {
    margin-bottom: -2px;
}

    .nav-tabs > li > a {
        color: #fff;
    }

.nav > li > a:hover {
    background: none;
    border-color: transparent;
    color: #e67e22;
}

.nav-tabs > li.active > a:hover {
    background-color: #3b3b3b;
    border: none;
    color: #fff;
}

.nav-tabs > li.active > a:focus {
    background-color: #3b3b3b;
    border: none;
    color: #fff;
}

/*Accordion*/
.panel-default > .panel-heading {
    background-color: #505050;
    border-radius: 5px;
    border-color: none;
}

.panel {
    background: none;
    border: 0px;
}

.collapse.in {
    display: block;
    background-color: #3b3b3b;
}

.collapsing {
    display: block;
    background-color: #3b3b3b;
}

.collapse {
    display: none;
    background-color: #505050;
}

.panel-title > a {
    color: #ffffff;
    font-size: 18px;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0px;
    margin-top: 3px;
}

.panel-title > a {
    text-decoration: none;
}
/**/
/* Button*/
/*Transparent button*/
.transparentbtn {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    font-family: 'lato' sans-serif;
    text-align: center;
    width: 100%;
    font-size: 21px;
    font-weight: 300;
}

    .transparentbtn:hover, .transparentbtn:focus {
        background: #ffffff;
        color: #010101;
        outline: none;
        border-color: transparent;
    }

    .transparentbtn:active, .transparentbtn.active {
        background: #ffffff;
        color: #010101;
        outline: none;
        box-shadow: none;
    }
/*Ornge button*/
.orngBtn {
    font-size: 17px;
    font-weight: 700;
}

    .orngBtn:hover {
        background: #f38e34;
        color: #fff;
        outline: none;
    }

    .orngBtn:active, .orngBtn.active, .orngBtn:focus {
        background: #d35400;
        color: #fff;
        outline: none;
    }
/*Dark Buttom*/
.dark_button {
    background: #363636;
    color: #fff;
    border: none;
    font-family: 'lato' sans-serif;
    text-align: center;
    width: 100%;
    font-size: 17px;
    font-weight: 700;
}

    .dark_button:hover {
        background: #f38e34;
        color: #fff;
        outline: none;
    }

    .dark_button:active, .dark_button.active, dark_button:focus {
        background: #d35400;
        color: #fff;
        outline: none;
    }

/*Success Button*/
.btn-success {
    color: #fff;
    border: none;
    background: #2ecc71;
    font-family: 'lato' sans-serif;
    text-align: center;
    width: 100%;
    font-size: 13px;
    font-weight: 700;
}
    /*Success Button*/

    .btn-success:hover {
        background: #58d68d;
        color: #fff;
        outline: none;
    }

    .btn-success:active, .btn-success.active, .btn-success:focus {
        background: #27ae60;
        color: #fff;
        outline: none;
    }
/*Info Button*/
.btn-info {
    background: #3498db;
    border: none;
    font-family: 'lato' sans-serif;
    text-align: center;
    width: 100%;
    font-size: 13px;
    font-weight: 700;
}

    .btn-info:hover {
        background: #5dade2;
        color: #fff;
        outline: none;
    }

    .btn-info:active, .btn-info.active, .btn-info:focus {
        background: #2c81ba;
        color: #fff;
        outline: none;
    }
/*Danger Button*/
.btn-danger {
    background: #e74c3c;
    border: none;
    font-family: 'lato' sans-serif;
    text-align: center;
    width: 100%;
    font-size: 13px;
    font-weight: 700;
}

    .btn-danger:hover {
        background: #ec7063;
        color: #fff;
        outline: none;
    }

    .btn-danger:active, .btn-danger.active, .btn-danger:focus {
        background: #c54133;
        color: #fff;
        outline: none;
    }
/*Button*/
.btn {
    padding: 10px 12px;
    border-radius: 6px;
}
/**/

/*form elements*/

input.form-control {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: 2px solid;
    border-color: transparent;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.467;
    font-weight: 400;
}

.input-group-lg > .form-control {
    height: 70px;
    font-size: 22px;
    font-weight: 300;
}

input[type=text]:focus, textarea:focus {
    border: 2px solid #e67e22;
    box-shadow: none;
    outline: 0;
}

.has-error .form-control {
    border: 2px solid #e74c3c;
}

textarea {
    padding-top: 10px;
    font-size: 14px;
    color: #000;
    border: 2px solid;
    border-color: transparent;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.467;
    font-weight: normal;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #303030;
    color: #fff;
    border-color: transparent;
}

fieldset[disabled] .form-control-feedback {
    color: #7c7c7c;
}

.has-feedback .form-control-feedback {
    top: 45px;
}

.has-feedback .input-group-lg .form-control-feedback {
    top: 59px;
}

.form-horizontal .has-feedback .form-control-feedback, .form-inline .has-feedback .form-control-feedback {
    top: 4px;
}

.form-horizontal .has-feedback .input-group-lg .form-control-feedback, .form-inline .has-feedback .input-group-lg .form-control-feedback {
    top: 18px;
}


.form-control-feedback {
    color: #c8c8c8;
}

/* Typography */
h1 {
    font-size: 62px;
    font-weight: 300;
}

h2 {
    font-size: 52px;
    font-weight: 300;
}

h3 {
    font-size: 40px;
    font-weight: 300;
}

h4 {
    font-size: 32px;
    font-weight: 300;
}

h5 {
    font-size: 28px;
    font-weight: 300;
}

h6 {
    font-size: 24px;
    font-weight: 300;
}

p {
    font-size: 14px;
    font-weight: 300;
}

.mb20 {
    margin-bottom: 20px;
}
/*List*/

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-left: none;
    border-right: none;
}

    .list-group-item:first-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .list-group-item:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
}

a.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
}

a.list-group-item {
    color: rgba(255, 255, 255, 0.8);
}

    a.list-group-item:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.2);
    }

.list-group a {
    font-family: Lato;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5;
}
/**/

/* Table-defintion */
.table-bordered {
    border: 2px solid #111111;
}

table {
    background-color: #1c1c1c;
    border: 1px solid #111111;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
    color: rgba(255, 255, 255, 0.5);
}


.table-imageposition {
    position: relative;
}

.table-icon {
    position: absolute;
    left: 0;
    bottom: 74px;
    background-color: #000;
    width: 20px;
    padding-left: 3px;
    cursor: pointer;
}

.table-bordered > tfoot > tr th, .table-bordered > thead > tr td,
.table-bordered > tbody > tr td, .table-bordered > tfoot > tr td {
    background: #1c1c1c;
    border: 1px solid #111111 !important;
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: top;
    line-height: 24px;
}

.table-icon-purchase {
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: #000;
    width: 20px;
    padding-left: 3px;
    cursor: pointer;
}
/* Table label*/
.table label {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
}
/* Table span*/
.table span {
    font-weight: 300;
}
/*Table checkbox*/
.table .checkbox {
    padding: 10px;
    margin: 0px;
}

/**/


/* Image Blocks */

.thumbnail {
    padding: 0;
    border-radius: 0;
    border: none;
}

    .thumbnail .caption {
        background: #1c1c1c;
        color: #efefef;
        padding: 22px;
    }

        .thumbnail .caption h6 {
            margin-top: 0px;
        }

        .thumbnail .caption p {
            margin-bottom: 0px;
        }

        .thumbnail .caption .stamp {
            color: #a8a8a8;
        }

    .thumbnail .caption-bar {
        background-color: #111111;
        padding: 10px;
        text-align: right;
    }

        .thumbnail .caption-bar .btn {
            width: 35%;
        }

    .thumbnail img {
        width: 370px;
        height: 244px;
    }

/* this is for showing dark theme demo purposes only */
.darkBack {
    background-color: #1b1b1b;
}

.paginationdDark > li > a {
    background-color: #1b1b1b;
}

.nav.nav-tabdark > li.active > a:hover {
    background-color: #1b1b1b;
    border: none;
    color: #fff;
}

.nav-tabs.nav-tabdark > li.active > a {
    background-color: #1b1b1b;
    border: none;
    color: #fff;
}

.dark_form input {
    background: #1b1b1b;
    border-color: transparent;
    color: #c5c5c5;
}

.dark_form textarea {
    background: #1b1b1b;
    color: #c5c5c5;
}

.dark_form .form-control-feedback {
    color: #c5c5c5;
}
/* dark theme css complete*/

/*List*/

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-left: none;
    border-right: none;
}

    .list-group-item:first-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .list-group-item:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
}

a.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
}

a.list-group-item {
    color: rgba(255, 255, 255, 0.8);
}

    a.list-group-item:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.2);
    }

.list-group-item span {
    font-family: Lato;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px; /* Approximation due to font substitution */
    font-weight: 400;
    float: right;
}
/*select2 styles */
.select2 {
    width: 100%;
    background-color: #3b3b3b;
    border-radius: 5px;
}

.select2-container .select2-choice {
    border: none;
    box-shadow: none;
    background: #3b3b3b;
    border-radius: 5px;
    height: 44px;
    line-height: 2.8em;
    color: #ffffff;
    padding: 0 20px;
    font-size: 16px;
}

    .select2-container .select2-choice .select2-arrow {
        background: #3b3b3b;
        width: 44px;
        border: none;
    }

        .select2-container .select2-choice .select2-arrow b {
            background: url('../img/select-sprite.png') no-repeat 0 8px;
        }

.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -50px 8px;
}

.select2-container .select2-choice > .select2-chosen {
    color: #999;
}

.select2-drop {
    border: none;
    background: #3b3b3b;
    box-shadow: none;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 13px;
    zoom: 1;
    color: #ffffff;
}

.select2-search input {
    margin: 5px 0px;
    border-radius: 5px;
    color: #fff;
    outline: 0;
    border: none;
    background: rgba(33, 33, 33, 1);
    padding: 5px;
    background: url('../img/select-sprite.png') no-repeat 106% -33px, rgba(33, 33, 33, 1) 0 0;
}

    .select2-search input:focus {
        border: none;
    }

.select2-results .select2-highlighted {
    background-color: #e67e22;
    border-radius: 5px;
    color: #fff;
}

.select2-results li {
    font-size: 14px;
}

    .select2-results li.select2-result-with-children > .select2-result-label {
        font-family: Lato;
        font-weight: 700;
        font-size: 15px;
    }

.select2-results ul.select2-result-sub {
    color: #999;
}

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
    background: #3b3b3b;
}

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
    background: #3b3b3b;
    border: none;
}
/**/

/*ui slider*/
.ui-slider .ui-slider-range {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    background-color: #e67e22;
    background-image: linear-gradient(to bottom, #e67e22, #e67e22);
    background-repeat: repeat-x;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background-color: #c46512;
    border: none;
    cursor: pointer;
}

.ui-slider {
    background-color: black;
    border-radius: 6px;
    border: none;
}

.ui-slider, .ui-slider-segment {
    margin-left: 0px;
    margin-bottom: 16px;
}

.slider-value {
    font-family: Lato;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
}

/*tags */
.tags a {
    font-family: Lato;
    color: #898989;
    font-size: 13px;
    font-weight: 400;
    background-color: #000000;
    padding: 5px 10px;
    border-radius: 3px;
}

    .tags a:hover {
        background: #e67e22;
        color: #fff;
    }
/*checkbox and radio*/
.checkbox .icons, .radio .icons, .checkbox.disabled .icons, .radio.disabled .icons {
    color: #494949;
}

.checkbox.disabled.checked .icons, .radio.disabled.checked .icons {
    color: #494949;
}

.checkbox.disabled.checked .second-icon, .radio.disabled.checked .second-icon {
    color: #494949;
}

/*switch*/
.has-switch {
    border-radius: 15px;
    width: 72px;
    -webkit-mask: url('../img/switch/mask.png') 0 0 no-repeat;
    mask: url('../img/switch/mask.png') 0 0 no-repeat;
}

    .has-switch span.switch-left {
        border-radius: 30px 0 0 30px;
        background-color: #1a1a1a;
        color: #e67e22;
    }

    .has-switch span.switch-right {
        border-radius: 0 30px 30px 0;
        background-color: #1a1a1a;
        color: #505050;
        text-indent: 7px;
    }

    .has-switch > div.switch-on label {
        background-color: #e67e22;
    }

    .has-switch label {
        border: none;
        height: 21px;
        width: 21px;
    }

    .has-switch span {
        height: 21px;
        line-height: 14px;
    }

.image-title {
    font-family: Lato;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5;
}

.image-description {
    font-family: Lato;
    color: #ededed;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
}

/*dropdown css*/
.dropdown-arrow-inverse {
    border-bottom-color: #4c4c4c !important;
    border-top-color: #4c4c4c !important;
}

.open > .dropdown-menu {
    background-color: #4c4c4c;
}

.dropdown-menu li > a {
    font-family: Lato;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}

.dropdown {
    display: inline-block;
    width: auto;
}

.dropdown-link {
    cursor: pointer;
}

.panel-body {
    font-family: Lato;
    color: rgba(237, 237, 237, 0.8);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

.panel-title {
    font-family: Lato;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.focus .form-control-feedback {
    color: #e67e22;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.disable_color {
    color: #7c7c7c;
}

/*btn toolbar */
.orientation .outerOrient {
    margin-top: 10px;
}

.outerOrient .btn-toolbar {
    width: 100%;
    margin-left: 0;
}

    .outerOrient .btn-toolbar .btn-primary {
        width: 22%;
        height: 60px;
        background: #1f1f1f;
        /* border: 2px solid #060606; */
        display: table;
        text-align: center;
        margin: 10px 2.9% 0 0;
        float: left;
    }

.btn-toolbar .btn-primary:last-child {
    margin-right: 0;
}

.btn-toolbar .btn-primary:hover span {
    border-color: #e67e22;
}

.btn-toolbar .btn-primary:active span,
.btn-toolbar .btn-primary.active span,
.btn-toolbar .open .dropdown-toggle.btn-primary span {
    border-color: #e67e22;
}

.outerOrient .butnsBar a:last-child {
    margin-right: 0;
}

.outerOrient span.PortraitIcon {
    width: 60%;
    height: 60px;
    background: #161616;
    border: 2px solid #060606;
    display: table;
    text-align: center;
    margin: 13px auto;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.outerOrient span.LandscapeIcon {
    width: 90%;
    height: 45px;
    background: #161616;
    border: 2px solid #060606;
    display: table;
    text-align: center;
    margin: 20px auto;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.outerOrient span.SquareIcon {
    width: 100%;
    height: 65px;
    background: #161616;
    border: 2px solid #060606;
    display: table;
    text-align: center;
    margin: 11px auto;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.outerOrient span.PanoramicIcon {
    width: 100%;
    height: 30px;
    background: #161616;
    border: 2px solid #060606;
    display: table;
    text-align: center;
    margin: 28px auto;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
/*progress bar */

.progress-bar {
    background-color: #e67e22;
}

.progress {
    background-color: #000;
}
/*custom scrollbar */
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #252525;
}
/*Accordion */
.panel-default > .panel-heading-show {
    background-color: #3b3b3b;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.22);
}
